@import url(../node_modules/normalize.css/normalize.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0; }

:root {
  --color-yellow: #fec63e;
  --color-black: #000;
  --color-white: #fff; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px; }

p {
  font-family: Georgia, 'Times New Roman', Times, serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-yellow);
  width: 100%;
  padding: 1rem 0;
  z-index: 999; }
  header a {
    color: var(--color-black);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px; }
    header a:hover {
      color: var(--color-white); }
  header ul li {
    text-align: center; }
  header .active a {
    color: var(--color-white); }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container nav ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px; }

.introduction {
  width: 100%;
  background: url("../img/bg.jpg");
  min-height: 380px;
  background-size: cover;
  margin-top: 96px;
  padding-top: 120px; }
  .introduction .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .introduction .container h1 {
      font-size: 48px;
      color: var(--color-white);
      font-weight: bold;
      text-transform: uppercase; }

.btn {
  color: var(--color-yellow);
  border: 3px solid var(--color-yellow);
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  transition: background .25s, color .25s; }
  .btn:hover {
    background: var(--color-yellow);
    color: var(--color-white); }

.products .container h2 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  text-align: center;
  margin-top: 65px;
  position: relative;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .products .container h2:after {
    content: "";
    bottom: 0;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background: var(--color-black);
    margin-bottom: 40px; }

.products .container .containerProdutos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }
  .products .container .containerProdutos .cardProduto {
    transition: transform .25s, filter .25s; }
    .products .container .containerProdutos .cardProduto a {
      padding-top: 20px;
      background: var(--color-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
      .products .container .containerProdutos .cardProduto a .textContainer {
        text-align: center;
        font-size: 14px;
        background: var(--color-yellow);
        color: var(--color-black);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        margin-top: 20px; }
        .products .container .containerProdutos .cardProduto a .textContainer h3 {
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 25px;
          font-size: 18px;
          text-transform: uppercase;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .products .container .containerProdutos .cardProduto a .textContainer h3:after {
            content: "";
            bottom: 0;
            width: 60px;
            height: 3px;
            margin: 10px auto;
            background: var(--color-black); }
        .products .container .containerProdutos .cardProduto a .textContainer p {
          max-width: 250px;
          font-size: 14px;
          line-height: 20px; }
    .products .container .containerProdutos .cardProduto:hover {
      transform: translateY(-5px);
      filter: brightness(0.9); }

.callToAction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px; }
  .callToAction a.btn {
    margin-top: 10px; }

.portfolio {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 50px;
  padding-top: 45px;
  padding-bottom: 30px; }
  .portfolio .container h2 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 65px;
    position: relative;
    color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .portfolio .container h2:after {
      content: "";
      bottom: 0;
      width: 60px;
      height: 3px;
      margin: 10px auto;
      background: var(--color-yellow);
      margin-bottom: 40px; }
  .portfolio .container .containerPictures {
    margin-top: 40px;
    display: grid;
    grid-template: "pict1 pict2" "pictAll pictAll"/ 50% 50%;
    grid-gap: 10px; }
    .portfolio .container .containerPictures img {
      width: 100%;
      grid-area: pictAll; }
      .portfolio .container .containerPictures img:nth-child(1) {
        grid-area: pict1; }
      .portfolio .container .containerPictures img:nth-child(2) {
        grid-area: pict2; }

.qualidade .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .qualidade .container h2 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 65px;
    position: relative;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .qualidade .container h2:after {
      content: "";
      bottom: 0;
      width: 60px;
      height: 3px;
      margin: 10px auto;
      background: var(--color-black);
      margin-bottom: 40px; }
  .qualidade .container .containerDif {
    width: 100%;
    text-align: center; }
    .qualidade .container .containerDif img {
      position: relative; }
      .qualidade .container .containerDif img:before {
        content: "";
        height: 2px;
        background-color: var(--color-black);
        width: 50%;
        position: absolute; }
    .qualidade .container .containerDif .columns {
      display: flex;
      justify-content: space-around; }
      .qualidade .container .containerDif .columns div {
        position: relative; }
        .qualidade .container .containerDif .columns div:before {
          content: "";
          position: absolute;
          top: -64px;
          width: 220px;
          height: 3px;
          background: var(--color-black);
          margin: auto; }
        .qualidade .container .containerDif .columns div:nth-child(1):before {
          width: 220px; }
        .qualidade .container .containerDif .columns div:nth-child(2):before {
          display: none; }
        .qualidade .container .containerDif .columns div:nth-child(2) h3:before {
          top: -68px;
          height: 60px; }
        .qualidade .container .containerDif .columns div:nth-child(3):before {
          left: -105px;
          width: 220px; }
      .qualidade .container .containerDif .columns h3 {
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .1em;
        text-align: center;
        margin-top: 65px;
        position: relative;
        color: var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px; }
        .qualidade .container .containerDif .columns h3:before {
          content: "";
          position: absolute;
          top: -128px;
          width: 3px;
          height: 110px;
          background: var(--color-black);
          margin: auto; }
        .qualidade .container .containerDif .columns h3:after {
          content: "";
          bottom: 0;
          width: 60px;
          height: 3px;
          margin: 10px auto;
          background: var(--color-black);
          margin-bottom: 40px; }
        .qualidade .container .containerDif .columns h3:after {
          margin-bottom: 10px; }
      .qualidade .container .containerDif .columns p {
        max-width: 230px;
        font-size: 14px;
        line-height: 20px; }

blockquote {
  width: 360px;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 40px; }
  blockquote p {
    font-style: italic;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    blockquote p:before, blockquote p:after {
      content: "";
      width: 60px;
      height: 3px;
      margin: auto;
      background: var(--color-white);
      top: 0;
      margin: 15px auto; }
    blockquote p:after {
      top: 100%; }
  blockquote cite {
    display: block;
    letter-spacing: .1em;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; }

.institucional {
  background: url(../img/bg-footer.jpg);
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.footer {
  background: var(--color-black);
  color: var(--color-white);
  padding-bottom: 30px; }
  .footer .container {
    display: flex;
    justify-content: space-between; }
    .footer .container h3 {
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      text-align: center;
      margin-top: 65px;
      position: relative;
      color: var(--color-yellow);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      text-align: left;
      align-items: flex-start; }
      .footer .container h3:after {
        content: "";
        bottom: 0;
        width: 60px;
        height: 3px;
        margin: 10px auto;
        background: var(--color-yellow);
        margin-bottom: 40px; }
      .footer .container h3:after {
        margin: 10px 0; }
    .footer .container p {
      line-height: 20px;
      font-size: 14px; }
    .footer .container .historia {
      width: 400px; }
    .footer .container .social .containerSocialIcons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px; }
      .footer .container .social .containerSocialIcons a {
        border: 3px solid var(--color-yellow);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: background .25s, filter .25s; }
        .footer .container .social .containerSocialIcons a:hover {
          background: var(--color-yellow); }
          .footer .container .social .containerSocialIcons a:hover img {
            filter: brightness(50); }
    .footer .container .contato ul li {
      margin-bottom: 10px;
      font-family: Georgia, "Times New Roman"; }

footer {
  background: var(--color-yellow);
  padding: 30px 0; }

.sobre.introduction {
  min-height: 0;
  height: 155px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: url(../img/bg-sobre.jpg);
  background-size: cover;
  background-position: center; }
  .sobre.introduction h1 {
    font-size: 36px; }
  .sobre.introduction blockquote p {
    font-weight: normal;
    text-decoration: none;
    font-style: normal; }
    .sobre.introduction blockquote p:before {
      margin: 10px auto; }
    .sobre.introduction blockquote p:after {
      display: none; }

.historia .container {
  display: grid;
  grid-template: "text text" "image image"/50% 50%;
  gap: 40px; }
  .historia .container .containerHistoria h2,
  .historia .container .containerValores h2 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 65px;
    position: relative;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 24px; }
    .historia .container .containerHistoria h2:after,
    .historia .container .containerValores h2:after {
      content: "";
      bottom: 0;
      width: 60px;
      height: 3px;
      margin: 10px auto;
      background: var(--color-black);
      margin-bottom: 40px; }
    .historia .container .containerHistoria h2:after,
    .historia .container .containerValores h2:after {
      margin: 10px 0; }
  .historia .container .containerHistoria p,
  .historia .container .containerHistoria ul li,
  .historia .container .containerValores p,
  .historia .container .containerValores ul li {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
    margin-top: 20px; }
  .historia .container img {
    grid-area: image; }
