.introduction {
  width: 100%;
  background: url("/img/bg.jpg");
  min-height: 380px;
  background-size: cover;
  margin-top: 96px;
  padding-top: 120px;

  .container {
    width: 100%;
    @include centerColumnFlex;

    h1 {
      font-size: 48px;
      color: var(--color-white);
      font-weight: bold;
      text-transform: uppercase;
    }

    blockquote {
      width: 360px;
      font-weight: bold;
      color: var(--color-white);

      text-align: center;

      p {
        font-style: italic;
        position: relative;
        @include centerColumnFlex;

        &:before,
        &:after {
          content: "";
          width: 60px;
          height: 3px;
          margin: auto;
          background: var(--color-white);
          top: 0;
          margin: 15px auto;
        }

        &:after {
          top: 100%;
        }


      }

      cite {
        display: block;
        letter-spacing: .1em;
        font-style: normal;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }

      margin-bottom: 40px;
    }
  }
}