@mixin Introduction($background) {
  min-height: 0;
  height: 155px;
  padding-top: 0;
  @include centerColumnFlex;
  align-items: center;

  background: url($background);
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 36px;
  }

  blockquote {
    p {
      font-weight: normal;
      text-decoration: none;
      font-style: normal;

      &:before {
        margin: 10px auto;
      }

      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 700px) {
    margin-top: 170px;
  }
}


@mixin centerColumnFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin titleText($color) {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  text-align: center;
  margin-top: 65px;
  position: relative;
  color: $color;
  @include centerColumnFlex;

  &:after {
    content: "";
    bottom: 0;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background: $color;
    margin-bottom: 40px;
  }
}