.orcamento {
  &.white {
    --color-white: black;
    --color-black: white;
  }

  &.contato {
    margin-top: 40px;

    p {
      font-size: 18px !important;
      line-height: 30px;

      &:nth-of-type(2) {
        margin-top: 40px !important;
      }
    }

    .containerSocialIcons {
      max-width: 200px;
      margin-top: 10px;
    }
  }

  background: var(--color-black);
  color: var(--color-yellow);
  padding-bottom: 40px;

  .container {
    h2 {
      @include titleText(var(--color-yellow));
      padding-top: 40px;
    }

    .containerCols {
      display: grid;
      grid-template: "col1 col2"/ 40% 45%;
      gap: 10%;

      @media (max-width: 700px) {
        width: 100%;
        grid-template: "col1""col2"/ 100% 100%;

      }

      div.containerForm {
        grid-area: col1;
        width: 100%;

        fieldset {
          width: 100%;

          label {
            font-family: Georgia, "Times New Roman";
            color: var(--color-white);
            font-size: 18px;
          }

          input,
          textarea {
            color: white;
            margin-bottom: 15px;
            margin-top: 5px;
            display: block;
            width: 100%;
            background: var(--color-black);
            border: solid 3px var(--color-yellow);
            padding: 10px 4px;

            &:focus,
            &:focus-visible {
              outline: 0px;
            }
          }
        }
      }

      @media (max-width: 700px) {
        padding-bottom: 100px;
      }

      div.containerInfo {
        grid-area: col2;
        color: var(--color-white);
        background: var(--color-black);


        h3 {
          color: var(--color-yellow);
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
          text-transform: uppercase;

          &:nth-of-type(2) {
            margin-top: 40px;
          }
        }

        p {
          font-size: 14px;
          line-height: 20px;
          margin-top: 10px;
        }


        p:first-of-type {
          font-size: 18px;
          line-height: 30px;
        }

        ul {
          margin-top: 10px;
          background-color: var(--color-black);
        }

        ul li {
          font-family: Georgia, "Times New Roman", Times, serif;
          min-height: 36px;
          display: flex;
          align-items: center;
          padding-left: 10px;

          &:nth-child(odd) {
            background: #1d1d1d;
          }
        }

      }
    }
  }
}