@import '../node_modules/normalize.css/normalize.css';
@import './_reset';

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}


:root {
  --color-yellow: #fec63e;
  --color-black: #000;
  --color-white: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


@mixin centerColumnFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin titleText($color) {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  text-align: center;
  margin-top: 65px;
  position: relative;
  color: $color;
  @include centerColumnFlex;

  &:after {
    content: "";
    bottom: 0;
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background: $color;
    margin-bottom: 40px;
  }
}



@import './header';
@import './introduction';
@import './btn';
@import './products';
@import './callToAction';
@import './portfolio';
@import './qualidade';
@import './blockquote';

.institucional {
  background: url(/img/bg-footer.jpg);
  height: 220px;
  @include centerColumnFlex;
  margin-top: 40px;

  .container {}
}